<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">

	<test enabled="true" name="Testing on Android Emulator">
		<parameter name="Mobile_OS_Type" value="Android" />
		<classes>
			<class name="testAppium.AmazonEvaluationExercise.TestClass">
				<methods>
					<include name="testAmazon_Android" />
				</methods>
			</class>
		</classes>
	</test> <!-- Test -->
	
	<test enabled="false" name="Testing on iOS Simulator">
		<parameter name="Mobile_OS_Type" value="iOS" />
		<classes>
			<class name="testAppium.AmazonEvaluationExercise.TestClass">
				<methods>
					<include name="testAmazon_iOS" />
				</methods>
			</class>
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
